# Node modules
node_modules/

# Output from CodeceptJS
output/

# Logs
*.log

# .env file containing sensitive info
.env

# Allure results and reports
allure-report/

# OS and editor specific
.DS_Store
.idea/
.vscode/
